@tailwind base;
@tailwind components;
@tailwind utilities;

/* assets/css/main.css */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Apply Montserrat font to elements globally */
  body {
    font-family: 'Montserrat', sans-serif;
  }
  